@page "/Add-Product"
@model KeyboardMarket.Pages.AddProductModel
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}


<form method="post" asp-page-handler="AddProduct">
    <div>
        <input asp-for="Title" placeholder="title" />
        <span asp-validation-for="Title"></span>
    </div>
    <div>
        <input asp-for="Price" placeholder="price" />
        <span asp-validation-for="Price"></span>
    </div>
    <div>
        <select asp-for="Currency">
            @foreach (var currency in Model.Currencies)
            {
                <option value="@currency.ID">@currency.Value</option>
            }
        </select>
    </div>
    <div>
        <input asp-for="Description" placeholder="description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div>
        <select asp-for="Land">
            @foreach (var land in Model.Lands)
            {
                <option value="@land.ID">@land.Value</option>
            }
        </select>
    </div>
    <div>
        <select asp-for="Condition">
            @foreach (var condition in Model.Conditions)
            {
                <option value="@condition.ID">@condition.Value</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="add product" />
    </div>
</form>

